LETSENCRYPT_EMAIL=email@example.com
ERPNEXT_VERSION=v13
FRAPPE_VERSION=v13
MARIADB_HOST=mariadb
MYSQL_ROOT_PASSWORD=admin
SITE_NAME=erpnext-nginx
SITES=`erpnext-nginx`
DB_ROOT_USER=root
ADMIN_PASSWORD=admin
INSTALL_APPS=erpnext,ipcameras,project_extension,bench_manager
ENTRYPOINT_LABEL=traefik.http.routers.excel-erpnext-nginx.entrypoints=web
